$background: #f0f0f0;
$font-stack: 'Montserrat', Arial, sans-serif;
$main-black: rgb(87, 87, 87);
$main-blue: rgb(11, 158, 255);
$main-gray: rgb(168, 168, 168);
$main-red: rgb(255, 132, 132);
$main-white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { background-color: $background; }

.bart__container {
  margin: 50px auto;
  max-width: 500px;
  padding: 10px 20px;
}

.bart__header {
  text-align: center;

  .bart__title {
    color: $main-black;
    font-family: $font-stack;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;

    .title-a { color: $main-blue; }
  }
}

.bart__form {
  border-bottom: 1px solid $main-gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;

  select {
    background-color: $main-white;
    border: none;
    border-radius: 5px;
    color: $main-gray;
    font-size: 18px;
    font-family: $font-stack;
    margin-bottom: 15px;
    padding: 15px 20px;
    -webkit-appearance: none;
    width: 85%;

    &:focus { 
      color: $main-black;
      outline: $main-blue auto 1px; 
    }
  }

  button {
    background-color: $main-blue;
    border: none;
    border-radius: 5px;
    color: $main-white;
    cursor: pointer;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 30px;
    transition: all 0.3s ease-in;
    width: 12%;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      top: 25px;
    }

    &:focus {
      outline: none;
    }
  }
}

.cost {
  background-color: $main-white;
  border-radius: 5px;
  border-left: 10px solid $main-blue;
  color: $main-black;
  max-width: 500px;
  margin: 30px auto;
  padding: 15px 30px;
  text-align: left;

  h3 {
    color: $main-black;
    font-family: $font-stack;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    color: $main-blue;
    font-family: $font-stack;
    font-size: 20px;
  }

  .one-way {
    margin-bottom: 20px;
  }

  p:first-child {
    color: $main-gray;
    margin-bottom: 10px;
  }
}

.trips {
  .trip {
    background-color: $main-white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 25px auto 50px;
    padding: 30px;

    p {
      color: $main-black;
      font-size: 30px;
      font-family: $font-stack;
      font-weight: 300;
    }

    .trip__route,
    .trip__time {
      display: flex;
      justify-content: space-between;
    }

    .trip__route {
      .start { color: $main-gray; }
      
      .travel-time {
        border-top: 2px dashed $main-blue;
        flex-grow: 2;
        margin: 0 20px;
        position: relative;
        text-align: center;
        top: 15px;
    
        & p, & .icon {
          bottom: 18px;
          color: $main-black;
          display: block;
          position: relative;
        }
    
        p {
          font-size: 18px;
          margin-top: 0;
        }
    
        .icon {
          background-color: $main-white;
          font-size: 30px;
          margin: 0 auto;
          padding: 0 5px;
          width: 38px;
        }
      }

      .trip__route .end { color: $main-blue; }
    }

    .trip__transfer {
      margin-top: 30px;
      padding: 0 20px;

      p {
        color: $main-red;
        font-size: 15px;
      }
    }

    .trip__time {
      margin-top: 30px;

      p { font-size: 20px; }

      @media screen and (min-width: 414px) {
        p { font-size: 30px; }
      }
    }
  }
}